---
import Page from "../../layouts/Page.astro";
import { getCollection } from "astro:content";

// Get all talks
const allTalks = await getCollection("talks");

console.log(import.meta.env.MODE);

// Sort talks by publish date
const filteredTalks = allTalks.sort(
  (a, b) =>
    new Date(b.data.publishDate || "1970-01-01").getTime() -
    new Date(a.data.publishDate || "1970-01-01").getTime()
);
---

<Page title={"posts"} description={"Roman Hauksson's blog posts and projects."}>
  <div class="space-y-4">
    {
      filteredPosts.map((post) => (
        <a
          href={`/posts/${post.slug}/`}
          class="flex flex-row flex-wrap gap-4 hover:bg-slate-800 rounded-lg p-4 transition-all duration-100 border border-slate-700 block"
        >
          <div class="basis-[10rem] grow">
            <img
              src={post.data.heroImagePath}
              alt={post.data.title}
              loading="lazy"
              class="max-w-full rounded-lg w-full aspect-[4/3] object-cover"
            />
          </div>
          <div class="flex flex-col shrink grow basis-[15rem]">
            <p class="text-gray-400">
              {post.data.publishDate || post.data.projectDate || "No date"}
            </p>
            <h3 class="text-3xl font-bold">{post.data.title}</h3>
            <p class="text-xl text-gray-200">{post.data.description}</p>
            {post.data.technologies && (
              <div class="flex flex-row flex-wrap gap-1 mt-2">
                {post.data.technologies.map((technology: string) => (
                  <p class="text-md text-gray-400 border border-gray-700 px-2 py-0.5 rounded-full">
                    {technology}
                  </p>
                ))}
              </div>
            )}
          </div>
        </a>
      ))
    }
  </div>
</Page>
