---
import type { ItemData } from "../../types/resume";
import Technologies from "./Technologies.astro";
import TextLink from "./TextLink.astro";
interface Props {
  data: ItemData;
}
const {
  name,
  link = null,
  startMonth = null,
  endMonth = null,
  location = null,
  notes = null,
  technologies = null,
} = Astro.props.data;
---

<div class="flex flex-col gap-1.5">
  <h3 class="font-medium text-xl">
    {link ? <TextLink href={link}>{name}</TextLink> : name}
  </h3>

  {
    startMonth && (
      <p class="italic">
        {startMonth} {endMonth && " – " + endMonth}
        {location && <span class="">{`• ${location}`}</span>}
      </p>
    )
  }

  {technologies && <Technologies technologies={technologies} />}
  {
    notes && (
      <ul class="list-disc ml-6">
        {notes.map((note) => (
          <li>{note}</li>
        ))}
      </ul>
    )
  }
</div>
