---
import { Icon } from "astro-icon/components";
import type { ItemData } from "../../types/resume";
interface Props {
  data: ItemData;
}
const {
  name,
  link = null,
  startMonth = null,
  endMonth = null,
  location = null,
  notes = null,
  technologies = null,
} = Astro.props.data;
---

<div class="">
  <h3 class="font-medium text-xl">
    {
      link ? (
        <a class="text-indigo-300 hover:text-indigo-100" href={link}>
          {name}
          <Icon class="inline-block" name="line-md:external-link" />
        </a>
      ) : (
        name
      )
    }
  </h3>

  {
    startMonth && (
      <p class="italic">
        {startMonth} {endMonth && " – " + endMonth}
        {location && <span class="">{`• ${location}`}</span>}
      </p>
    )
  }
  {
    notes && (
      <ul class="list-disc ml-6">
        {notes.map((note) => (
          <li>{note}</li>
        ))}
      </ul>
    )
  }
</div>
