---
import { Icon } from "astro-icon/components";
import type { OrganizationData, PositionData } from "../../types/resume";
import Technologies from "./Technologies.astro";
import { Image } from "astro:assets";
interface Props {
  data: OrganizationData;
}
const { name, image, link, positions } = Astro.props.data;
---

<div class="flex flex-row gap-4">
  {image && <Image class="rounded-lg w-16 h-16" src={image} alt={name} />}
  <div class="flex flex-col gap-2">
    <h3 class="font-medium text-2xl">
      {
        link ? (
          <a class="text-indigo-300 hover:text-indigo-100" href={link}>
            {name}
            <Icon class="inline-block" name="line-md:external-link" />
          </a>
        ) : (
          name
        )
      }
    </h3>
    <div class="flex flex-col gap-4">
      {
        positions.map((position: PositionData) => (
          <div class="flex flex-col gap-1.5">
            <h4 class="font-medium text-xl">{position.title}</h4>
            <div class="italic">
              {position.startMonth} – {position.endMonth}
              {position.location && (
                <span class="">{`• ${position.location}`}</span>
              )}
            </div>
            {position.technologies && (
              <Technologies technologies={position.technologies} />
            )}
            <ul>
              {position.notes &&
                position.notes.map((note) => (
                  <li class="list-disc ml-6">{note}</li>
                ))}
            </ul>
          </div>
        ))
      }
    </div>
  </div>
</div>
