---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Page from "../layouts/Page.astro";
type Props = CollectionEntry<"posts">["data"];
import { Image } from "astro:assets";

const { title, description, publishDate, lastUpdateDate, heroImage } =
  Astro.props;

const heroImagePath = "/public" + heroImage;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/public/*.{jpg,png,webp}"
);
if (!images[heroImagePath])
  throw new Error(
    `"${heroImagePath}" does not exist in glob: "/public/*.{jpg,png,webp}"`
  );
---

<Page title={title} description={description} image={heroImagePath}>
  <script
    type="module"
    type="text/partytown"
    src="https://js.withorbit.com/orbit-web-component.js"></script>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
    integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV"
    crossorigin="anonymous"
  />
  <script
    type="text/partytown"
    defer
    src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"
    integrity="sha384-XjKyOOlGwcjNTAIQHIpgOno0Hl1YQqzUOEleOLALmuqehneUG+vnGctmUb0ZY0l8"
    crossorigin="anonymous"></script>

  <article>
    <div class="hero-image rounded-lg overflow-hidden">
      {
        heroImage && (
          <Image
            width={1020}
            height={510}
            src={images[heroImagePath]()}
            quality="max"
            loading="eager"
            alt=""
          />
        )
      }
    </div>
    <div class="prose prose-slate prose-invert prose-lg w-full">
      <div class="title">
        <div class="date">
          <!-- <FormattedDate date={publishDate} /> -->
          <!-- {
            lastUpdateDate && (
              <div class="last-updated-on">
                Last updated on <FormattedDate date={lastUpdateDate} />
              </div>
            )
          } -->
        </div>
      </div>
      <slot />
    </div>
  </article>
</Page>
