---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Page from "../layouts/Page.astro";
type Props = CollectionEntry<"posts">["data"];
import { Image } from "astro:assets";

const { title, description, publishDate, lastUpdateDate, heroImagePath } =
  Astro.props;

const updatedHeroImagePath = "/public" + heroImagePath;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/public/*.{jpg,png,webp}"
);
if (!images[updatedHeroImagePath])
  throw new Error(
    `"${updatedHeroImagePath}" does not exist in glob: "/public/*.{jpg,png,webp}"`
  );
---

<Page title={title} description={description} image={updatedHeroImagePath}>
  <script
    type="module"
    type="text/partytown"
    src="https://js.withorbit.com/orbit-web-component.js"></script>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
    integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV"
    crossorigin="anonymous"
  />
  <script
    type="text/partytown"
    defer
    src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"
    integrity="sha384-XjKyOOlGwcjNTAIQHIpgOno0Hl1YQqzUOEleOLALmuqehneUG+vnGctmUb0ZY0l8"
    crossorigin="anonymous"></script>

  <article>
    <div class="rounded-lg overflow-hidden w-full">
      {
        heroImagePath && (
          <Image
            src={images[updatedHeroImagePath]()}
            quality="max"
            loading="eager"
            alt=""
            class="aspect-[4/3] w-full"
          />
        )
      }
    </div>
    <div
      class="w-full prose prose-slate prose-invert prose-lg prose-a:no-underline prose-a:font-normal prose-a:bg-gray-700 prose-a:rounded prose-a:px-1 prose-a:py-0.5 prose-a:text-white hover:prose-a:bg-gray-500 active:prose-a:bg-gray-700 before:prose-code:content-none after:prose-code:content-none"
    >
      <div class="title">
        <div class="date">
          <!-- <FormattedDate date={publishDate} /> -->
          <!-- {
            lastUpdateDate && (
              <div class="last-updated-on">
                Last updated on <FormattedDate date={lastUpdateDate} />
              </div>
            )
          } -->
        </div>
      </div>
      <slot />
    </div>
  </article>
</Page>
