---
import Page from "../../layouts/Page.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import PostCard from "../../components/PostCard.astro";

const publishedPosts = await getCollection("projects", ({ data }) => {
  return data.draft !== true;
});
const unpublishedPosts = await getCollection("projects", ({ data }) => {
  return data.draft == true;
});
---

<Page title={"projects"} description={"Roman Hauksson's projects."}>
  <section class="flex flex-col gap-4">
    <ul class="flex flex-wrap justify-center gap-4 w-full">
      {
        publishedPosts.map((post) => (
          <PostCard
            imagePath={post.data.heroImage}
            description={post.data.description}
            title={post.data.title}
            slug={post.slug}
            altText=""
          />
        ))
      }
    </ul>
  </section>
  <section>
    <h3 class="font-bold text-xl">unpublished (coming soon!)</h3>
    <ul class="flex flex-wrap justify-center gap-4 w-full">
      {
        unpublishedPosts.map((post) => (
          <PostCard
            imagePath={post.data.heroImage}
            description={post.data.description}
            title={post.data.title}
            slug={post.slug}
            altText=""
            published={false}
          />
        ))
      }
    </ul>
  </section>
</Page>
