---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
  showTitle?: boolean;
  image?: string;
}
const { title, description, showTitle = true, image = "" } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>

  <body
    class="flex flex-col gap-6 bg-slate-100 dark:bg-slate-900 text-black dark:text-white"
  >
    <Header />
    <main class="flex flex-col gap-4 max-w-[50rem] w-full m-auto px-6">
      {
        showTitle && (
          <h1 class="font-bold text-3xl" transition:name={title}>
            {title}
          </h1>
        )
      }
      <slot />
    </main>
    <Footer />
  </body>
</html>
